* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
/* body */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* logo */
.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
.color-orange {
    color: #FD6E0A;
}
.btn {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    cursor: pointer;
}
.btn-group {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
}
.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
.text-center {
    text-align: center;
    margin-top: 50px;
}
.container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

/* main style */
/* header */
header {
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: 23px 38px, right bottom;
    background-repeat: no-repeat;
    padding-top: 50px;
}

/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
/* hero-banner */
#hero-banner {
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hero-banner .banner-content {
    max-width: 585px;
}
#hero-banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#hero-banner .banner-content h1 {
    font-size: 85px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
}
#hero-banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#hero-banner .banner-image img {
    max-width: 584px;
    vertical-align: middle;
}


/* about */
#about, #skills, #resume {
    padding-top: 130px;
}
#about .about-container {
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.about-info .info-card p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h4 {
    font-size: 18px;
    line-height: 30px;
    color: #474747;
}


/* skills */
#skills .skills-container .skills-box {
    display: flex;
    gap: 24px;
}
.skills-box .skill-card {
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000027;
}
.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3 {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}


/* resume */
#resume .resume-container {
    margin-top: 113px;
    display: flex;
    gap: 24px;
}
.resume-container .section-title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card {
    max-width: 511px;
    margin-right: 71px;
}
.resume-card hr {
    margin: 30px 0;
}
.resume-card .card-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}


/* footer */
footer {
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container {
    display: flex;
    gap: 117px;
}
.footer-container h2 {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.footer-container .social {
    max-width: 562px;
}

.footer-container .social p {
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}
.footer-container .icons a {
    margin-right: 24px;
}
.footer-container .form input[type="text"], input[type="email"], textarea {
    width: 461px;
    padding: 18px 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}


/* extra class */
.hide {
    display: none !important;
}

/* small device */
@media screen and (max-width: 576px) {
    .container {
        width: 95%;
    }
    
    .section-heading h2, .footer-container h2 {
        font-size: 30px;
    }
    .btn-group {
        justify-content: center;
    }
    header {
        background:url(../images/header_bg.png), #FFF8F3;
        background-position: right bottom;
        background-repeat: no-repeat;
    }
    nav {
        gap: 20px;
    }
    nav .menu {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 20px;
    }
    #hero-banner {
        margin: 20px;
        gap: 20px;
        text-align: center;
    }
    #hero-banner .banner-content h1 {
        font-size: 55px;
    }
    #hero-banner .banner-image img {
        width: 100%;
    }
    #about, #skills, #resume {
        padding-top: 60px;
    }
    #about .about-container {
        padding: 20px;
    }
    #about .about-container .about-info, footer .footer-container, #resume .resume-container {
        gap: 30px;
    }

    #skills .skills-container .skills-box, #about .about-container .about-info, footer .footer-container, #resume .resume-container, nav, #hero-banner {
        flex-direction: column;
    }
    .skills-box .skill-card {
        max-width: 100%;
    }
    #resume .resume-container {
        margin-top: 60px;
    }
    .resume-card {
        margin-right: 10px;
    }
    footer {
        margin-top: 60px;
        padding: 60px 0;
    }
    .footer-container .form input[type="text"], input[type="email"], textarea {
    width: 100%;
}
}

/* tablet device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    #skills .skills-container .skills-box, #about .about-container .about-info, footer .footer-container, #resume .resume-container, nav, #hero-banner {
        flex-direction: column;
    }
}